.sidebar {
  flex: 3;
  margin: 20px;
  padding: 25px;
padding-right: 0px;
  padding-left:200px ;
  padding-bottom: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.sidebarTitle {
  margin: 10px;
  padding: 10px; /* Relleno interno para la caja */
  font-family: "Merriweather, serif";
  font-size: 16px;
  color: #e8e8e8; /* Cambiamos el color de título para una mejor legibilidad */
  font-weight: 600;
  background-color: #0d0b0b; /* Fondo azul */
  border: 1px solid #000; /* Borde negro de 1 píxel */
  border-radius: 1px; /* Borde redondeado */
  text-align: center;
  margin-top: 35px;
}

.sidebarList {
  list-style: none;
  margin-top: 20px; /* Añadimos un poco de margen en la parte superior */
  font-family: "Merriweather, serif";
}
.sidebarListItem {
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 10px; /* Espaciado igual entre elementos de la lista */
  width: 100%; /* Los elementos ocupan todo el ancho disponible */
}


.sidebarListItem:hover {
  background-color: #f0f0f0; /* Un color más claro en hover */
}

.sidebarSocial {
  margin-top: 20px; /* Espaciado adicional entre categorías y redes sociales */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 20px; /* Aumentamos el tamaño de los iconos */
  margin-left: 10px;
  cursor: pointer;
  color: #555; /* Cambiamos el color de los iconos para una mejor legibilidad */
}
